node_modules
npm-debug.log
.env
.env.example
.env*.local
.git
.gitignore
.github
.vscode
.idea
.DS_Store
*.log
coverage
.eslintrc*
.prettierrc*
README.md
*.md
docker-compose*.yml
docker-compose*.yaml
.Dockerfile.tmp
.dockerignore
Dockerfile.dev
